<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Bread Recipes</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Bread Recipes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/addBuns">Add new bread</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <br>
        <div class="text-center"><h2>Update Bread</h2></div>
        <br>
        <div class="text-center">
            <% if (buns) { %>
            <form action="/editBuns/<%= buns.bunsId %>" method="POST" enctype="multipart/form-data">
                <label for="name">Bread Name:</label><br>
                <input type="text" id="name" name="bunsName" value="<%= buns.bunsName %>" required><br><br>

                <label for="type">Type:</label><br>
                <input type="text" id="type" name="bunsType" value="<%= buns.bunsType %>" required><br><br>

                <label for="country">Country of origin:</label><br>
                <input type="text" id="country" name="bunsCountry" value="<%= buns.bunsCountry %>" required><br><br>

                <label for="description">Description:</label><br>
                <input type="text" id="description" name="bunsDesc" value="<%= buns.bunsDesc %>" required><br><br>

                <label for="image">Current Image:</label><br>
                <input type="text" name="currentImage" value="<%= buns.image %>" hidden>
                <img src="/images/<%= buns.image %>" width="20%"><br><br>

                <label for="image">New Image:</label><br>
                <input type="file" id="image" name="image" accept="image/*"><br><br>

                <button type="submit">Update Bread</button>
            </form>
            <% } else { %>
                <p>No bread found.</p>
            <% } %>
            <a href="/">Back</a>
        </div>
    </div>
</body>
</html>
